<h2 mat-dialog-title>Edição TelaApp</h2>

<form *ngIf="item && listaEntidade && listaTelaApp" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="15" #nomeMenu [(ngModel)]="item.nomeMenu" name="nomeMenu" placeholder="Menu" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Entidade" #entidadeId [(ngModel)]="item.entidadeId" name="entidadeId">
        <mat-option *ngFor="let entidade of listaEntidade" [value]="entidade.id_entidade">
          {{ entidade.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Entidade Put" #entidadePutId [(ngModel)]="item.entidadePutId" name="entidadePutId">
        <mat-option *ngFor="let entidade of listaEntidade" [value]="entidade.id_entidade">
          {{ entidade.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-select placeholder="Tipo" #tipo [(ngModel)]="item.tipo" name="tipo">
        <mat-option value="LISTA">Lista</mat-option>
        <mat-option value="LISTA_VITRINE">Lista Vitrine</mat-option>
        <mat-option value="LISTA_GRID">Lista Grid</mat-option>
        <mat-option value="LISTA_ITEM">Lista Item</mat-option>
        <mat-option value="DETALHE">Detalhe</mat-option>
        <mat-option value="EDITA">Edita</mat-option>
        <mat-option value="GETPUT">GetPut</mat-option>
        <mat-option value="GRAFICO_BARRA">Gráfico Barra</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox  #sobrescreveHtml [(ngModel)]="item.sobrescreveHtml" name="sobrescreveHtml">Sobescreve html</mat-checkbox>
    &nbsp;&nbsp;&nbsp;
    <mat-checkbox  #sobrescreveTs [(ngModel)]="item.sobrescreveTs" name="sobrescreveTs">Sobescreve ts</mat-checkbox>


    <mat-form-field class="example-full-width">
      <mat-select placeholder="Tela Edição" #telaAppEdicaoId [(ngModel)]="item.telaAppEdicaoId" name="telaAppEdicaoId">
        <mat-option *ngFor="let tela of listaTelaApp" [value]="tela.id">
          {{ tela.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>