<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- Card 1 -->
        <div class="card">
          <div class="header">
            <h4 class="title">Proposta de Valor</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let projeto of valores">
                  <tr>
                    <td><h5>{{projeto.nome}}</h5></td>
                  </tr>
                  <tr *ngFor="let valor of projeto.projetoCanvasMySqls">
                    <td><a href="#" routerLink="/detalheValorCanvas/{{valor.id}}"><h6>{{valor.descricao}}</h6></a></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Card 1 -->

         <!-- Card 2 -->
         <div class="card">
            <div class="header">
              <h4 class="title">Proposta de Valor</h4>
            </div>
            <div class="content table-responsive table-full-width">
              
            </div>
          </div>
          <!-- Card 2 -->
      </div>

    </div>
  </div>
</div>