<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Palavras Chaves Raiz - {{lista.length}} itens</h4>
            <button class="btn btn-primary btn-sm " (click)="openDialog()">Novo</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="50%">Palavra</th>
                  <th widht="25%">Ultima Atualização</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lista">
                  <td>{{item.palavra}}</td>
                  <td>{{item.dataUltimaAtualizacao | date: 'dd/MM/yyyy'}}</td>
                  <td align="right">
                    <a routerLink="/palavraChaveRaiz/{{item.id}}">Melhores</a>&nbsp;&nbsp;&nbsp;
                    <a routerLink="/palavraChaveRaizCompleta/{{item.id}}">Geral</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
