<h2 mat-dialog-title>Atributo - {{entidade.nome}}</h2>

<form *ngIf="listaParaRelacionar" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>


    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #nome1 [(ngModel)]="item.nome1" name="nome1" placeholder="Nome" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Quantidade Relacionda" #qtde_entidade1 [(ngModel)]="item.qtde_entidade1" name="qtde_entidade1" >
        <mat-option value="1">1</mat-option>
        <mat-option value="N">N</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Entidade" #id_entidade2 [(ngModel)]="item.id_entidade2" name="id_entidade2">
        <mat-option *ngFor="let entidade of listaParaRelacionar" [value]="entidade.id_entidade">
          {{ entidade.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #nome2 [(ngModel)]="item.nome2" name="nome2" placeholder="Nome para entidade" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Quantidade Relacionda" #qtde_entidade2 [(ngModel)]="item.qtde_entidade2" name="qtde_entidade2" >
        <mat-option value="1">1</mat-option>
        <mat-option value="N">N</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>