<h2 mat-dialog-title>Atributo - {{entidade.nome}}</h2>

<form class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>


      <mat-form-field class="example-full-width">
          <mat-select placeholder="Entidade" #entidade [(ngModel)]="atributo.tipo" name="tipo" >
            <mat-option value="TLbl">TLbl</mat-option>
            <mat-option value="TLblLg">TLblLg</mat-option>
            <mat-option value="TDesc">TDesc</mat-option>
           
            <mat-option value="CriptoMoeda">CriptoMoeda</mat-option>
            <mat-option value="CriptoTLbl">CriptoTLbl</mat-option>
          </mat-select>
        </mat-form-field>
      <mat-select #noteField placeholder="Notes">
          <mat-option *ngFor="let note of notes$ | async" [value]="note">
            {{ note.yy }}
          </mat-option>
        </mat-select>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>