<div *ngIf="item" class="card">
  <div class="header">
    <h4 class="title">Tela: {{item.nome}}</h4>
    <button class="btn btn-primary btn-sm " (click)="openDialog(item)">Adicionar</button>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let subitem of item.telaComponenteWebs">
          <tr>
            <td>
              {{subitem.nome}}
            </td>
            <td>
              
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
