<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Aplicações - Projeto</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="40%">Projeto</th>
                  <th width="40%">Codigo</th>
                  <th width="10%"></th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let projeto of projetos">
                  <td>{{projeto.nome}}</td>
                  <td>{{projeto.codigo}}</td>
                  <td>
                    <a *ngIf="(projeto.aplicacaos.length>0)" href="javascript:void(0);" (click)="openDialog(projeto.aplicacaos[0])">Edita</a>
                  </td>
                  <td>
                    <a routerLink="/projetoAplicacao/{{projeto.id}}">Detalhe</a>
                  </td>

                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>