.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .dgc_titulo {
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 0px;
  }
  .dgc_subtitulo {
    font-size: 16px;
    color: #06aa48;
    font-family: Arial, sans-serif;
    margin: 0px;
  }
  .dgc_descricao {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
  }

  .dgc_quadro {
    margin-top: 16px;
  }