<div class="card">
  <div class="header">
    <h4 class="title">Entidades</h4>
    <button class="btn btn-primary btn-sm " (click)="openDialog(aplicacao)">Novo</button>
  </div>

  <div class="content">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of listaEntidade">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.nome}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list role="list" *ngFor="let atributo of item.atributoEntidades">
          <mat-list-item role="listitem">{{atributo.nome}}</mat-list-item>
        </mat-list>
        <button mat-raised-button (click)="novoAtributo(item)">Novo</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


</div>