<h2 *ngIf="item" mat-dialog-title>Processo - {{item.nome}}</h2>

<form *ngIf="listaEtapa" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width" *ngFor="let etapa of listaEtapa">
        <input matInput maxlength="100" #nome [(ngModel)]="etapa.nome" name="nome" placeholder="Nome" />
    </mat-form-field>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>