<div *ngIf="anuncioApp" class="card">

  <div class="header">
    <h4 class="title">Anúncio Aplicativo</h4>
    <p>IdAds:<span *ngIf="anuncioApp.anuncioAplicacaoResultados.length>0">{{anuncioApp.anuncioAplicacaoResultados[0].idAds}}</span></p>
  </div>

  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td>Título 1</td>
          <td>{{anuncioApp.titulo1}}</td>
        </tr>
        <tr>
          <td>Título 2</td>
          <td>{{anuncioApp.titulo2}}</td>
        </tr>
        <tr>
          <td>Descrição 1</td>
          <td>{{anuncioApp.titulo3}}</td>
        </tr>
        <tr>
          <td>Descrição 2</td>
          <td>{{anuncioApp.titulo4}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>