<h2 mat-dialog-title>
  Página Instalação</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="item.mensagemPrincipal" name="mensagemPrincipal" placeholder="Mensagem Principal" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="item.mensagemSecundaria" name="mensagemSecundaria" placeholder="Mensagem Secundária" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="item.botaoAcao" name="botaoAcao" placeholder="Botão de Ação" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="item.urlInstalacao" name="urlInstalacao" placeholder="Url Instalação" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="item.marcaLogo" name="marcaLogo" placeholder="Marca / Logo" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions *ngIf="(item.permiteEdicao==1)">
    <button mat-button>Enviar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>

</form>

<div class="tabela content table-responsive table-full-width">
    <table  class="table table-hover table-striped">
      <thead>
        <th width="40%">Mensagem Principal</th>
        <th width="15%">camps</th>
        <th width="15%">visu</th>
        <th width="15%">inte</th>
        <th width="15%">conv</th>
        <th width="5%"></th>
      </thead>
      <tr *ngFor="let pagina of listaPaginaValidacao">
        <td>{{pagina.mensagemPrincipal}}</td>
        <td>{{pagina.quantidadeCampanha}}</td> 
        <td>{{pagina.totalVisualizacao}}</td>
        <td>{{pagina.totalInteresse}}</td> 
        <td>{{pagina.taxaConversao | percent:'1.2-2' }}</td>
        <td>
            <button mat-raised-button outline color="primary" (click)="copiaItem(pagina)">usar</button>
        </td>
      </tr>
    </table>
  </div>