<div *ngIf="listaProjeto" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Projetos</h4>
            <button mat-raised-button (click)="openDialog()">Novo</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Código</th>
                  <th>Etapa</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let projeto of listaProjeto">
                  <td>{{projeto.nome}}</td>
                  <td>{{projeto.codigo}}</td>
                  <td [ngClass]="getAtivoClasse(projeto.etapaProjeto)">{{(projeto.etapaProjeto!=null?projeto.etapaProjeto.nome:'-')}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm " (click)="openDialog(projeto)">Alterar</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
