<div *ngIf="setupCampanha" class="card">

  <div class="header">
    <h4 class="title">Setup Campanha</h4>
  </div>

  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td>Nome</td>
          <td>{{setupCampanha.nome}}</td>
        </tr>
        <tr>
          <td>Orçamento Diário</td>
          <td>R$ {{setupCampanha.budgetDiario | number : '1.2-2' }}</td>
        </tr>
        <tr>
          <td>Custo Instalação</td>
          <td>R$ {{setupCampanha.custoInstalacao | number : '1.2-2' }}</td>
        </tr>
        <tr>
          <td>Custo Total Estimado</td>
          <td>R$ {{setupCampanha.custoTotal | number : '1.2-2' }}</td>
        </tr>
        <tr>
          <td>Instalações Totais Estimada</td>
          <td>{{setupCampanha.totalInstalacao}}</td>
        </tr>
        <tr>
          <td>Período</td>
          <td>{{setupCampanha.diaSemanaInicio}} até {{setupCampanha.diaSemanaFinal}}</td>
        </tr>
        <tr>
          <td>Tipo</td>
          <td>{{setupCampanha.tipoCampanha}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
