<h2 mat-dialog-title>Atributo - {{entidade.nome}}</h2>

<form class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #nome [(ngModel)]="atributo.nome" name="nome" placeholder="Nome" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Tipo">
        <mat-option>None</mat-option>
        <mat-option value="option1">Tipo1</mat-option>
        <mat-option value="option2">Tipo2</mat-option>
        <mat-option value="option3">Tipo3</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>