<h2 mat-dialog-title>Atributo - {{entidade.nome}}</h2>

<form class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #nome [(ngModel)]="atributo.nome" name="nome" placeholder="Nome" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Tipo" #tipo [(ngModel)]="atributo.tipo" name="tipo" >
        <mat-option value="TLbl">TLbl</mat-option>
        <mat-option value="TLblLg">TLblLg</mat-option>
        <mat-option value="TDesc">TDesc</mat-option>
        <mat-option value="NInt">NInt</mat-option>
        <mat-option value="Moeda">Moeda</mat-option>
        <mat-option value="Data">Data</mat-option>
        <mat-option value="DTemp">DTemp</mat-option>
        <mat-option value="Logic">Logic</mat-option>
        <mat-option value="Percent">Percent</mat-option>
        <mat-option value="Decimal">Decimal</mat-option>
        <mat-option value="Hidden">Hidden</mat-option>
        <mat-option value="TNota10">TNota10</mat-option>
        <mat-option value="Itens">Itens</mat-option>
        <mat-option value="Tempo">Tempo</mat-option>
        <mat-option value="Multivalorado">Multivalorado</mat-option>
        <mat-option value="CriptoMoeda">CriptoMoeda</mat-option>
        <mat-option value="CriptoTLbl">CriptoTLbl</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle #obrigatorio [(ngModel)]="atributo.obrigatorio" name="obrigatorio">Obrigatório</mat-slide-toggle>
    
    <mat-slide-toggle #editavel [(ngModel)]="atributo.editavel" name="editavel">Editável</mat-slide-toggle>
    
    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #label_tela [(ngModel)]="atributo.label_tela" name="label_tela" placeholder="Label Tela" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #ordenacao_tela [(ngModel)]="atributo.ordenacao_tela" name="ordenacao_tela" placeholder="Ordenação" />
    </mat-form-field>



  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>