<div class="main-content" *ngIf="projeto"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Versões Aplicativos - {{projeto.nome}} ({{projeto.codigo}})</h4>
            <button class="btn btn-primary btn-sm " (click)="openDialog()">Novo</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="5%">Id</th>
                  <th width="15%">Nome</th>
                  <th width="15%">Código</th>
                  <th width="40%">Objetivo</th>
                  <th width="15%">Pacote</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of projeto.versaoApps">
                  <td>{{item.id}}</td>
                  <td>{{item.nome}}</td>
                  <td>{{item.codigoVersao}}</td>
                  <td>{{item.objetivo}}</td>
                  <td>{{item.pacoteApp}}</td>
                  <td>
                    <button *ngIf="permiteEdicao(item)" class="btn btn-primary btn-sm " (click)="openDialog(item)">Alterar</button>
                    <button class="btn btn-primary btn-sm" routerLink="/visitantePorVersaoApp/{{item.id}}">Visitantes</button>
                    <button class="btn btn-primary btn-sm" routerLink="/versaoAppDetalhe/{{item.id}}">Detalhe</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
