<div *ngIf="valorTotal" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Projetos
              <button class="btn btn-primary btn-sm " (click)="atualizaCampanhas()">Atualizar</button>
            </h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Projeto</th>
                  <th>Código</th>
                  <th>Custo Total (R$)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td>{{valorTotal | number : '1.2-2' }}</td>
                  <td></td>
                </tr>
                <tr *ngFor="let projeto of projetos">
                  <td>{{projeto.id}}</td>
                  <td>{{projeto.nome}}</td>
                  <td>{{projeto.codigo}}</td>
                  <td>{{projeto.custoCampanha | number : '1.2-2' }}</td>
                  <td><a routerLink="/projetosValor/{{projeto.id}}">Detalhe</a></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>