<div *ngIf="listaPalavra" class="card">
  <div class="header">
    <h4 class="title">{{listaPalavra.length}} palavras</h4>
    <button class="btn btn-primary btn-sm " (click)="criaListaNova()">Recriar</button>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="70%">Palavra-Chave</th>
          <th width="15%">Media Cpc</th>
          <th width="15%">Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaPalavra">
          <td>{{item.palavraChaveGoogle.palavra}}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
