<div *ngIf="lista" class="card">
  <div class="header">
    <h4 class="title">Tela App</h4>
    <button class="btn btn-primary btn-sm" (click)="openDialog()">Novo</button>
  </div>
  <div class="content table-responsive table-full-width">
    <table *ngIf="lista" class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="50%">Tela</th>
          <th width="20%">Objeto</th>
          <th width="20%">Tipo</th>
          <th width="5%"></th>
          <th width="5%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lista">
          <td>{{item.nome}}</td>
          <td>
            <a *ngIf="item.entidade" routerLink="/entidadeResumo/{{item.entidade.id_entidade}}">
              {{(item.entidade?item.entidade.nome:'-')}}
            </a>
          </td>
          <td>{{item.tipo}}</td>
          <td>
            <button class="btn btn-primary btn-sm" routerLink="/detalheTelaApp/{{item.id}}">Detalhe</button>
          </td>
          <td>
            <button class="btn btn-primary btn-sm " (click)="openDialog(item)">Alterar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>