<div *ngIf="campanha" class="main-content">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-title>{{campanha.nome}} - {{campanha.paginaValidacaoWeb.projeto.nome}}</mat-card-title>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-edita-palavra-chave-em-campanha [campanha]="campanha"></app-edita-palavra-chave-em-campanha>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-escolhe-anuncio-para-campanha [campanha]="campanha"></app-escolhe-anuncio-para-campanha>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <app-display-pagina-validacao-web [item]="campanha.paginaValidacaoWeb"></app-display-pagina-validacao-web>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <button mat-raised-button color="accent" [disabled]="campanha.permiteEdicao==0" (click)="fecharCampanha()">Fechar Campanha</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>