<link rel="stylesheet" href="assets/css/vendor.36bb0ebb.css">
<link rel="stylesheet" href="assets/css/main.b03f2ea9.css">
<link rel="stylesheet" href="assets/css/canvas-digicom2.css">


<div class="dashboard" style="padding-top: 0px;">
  <div class="canvas-container" id="canvas">
    <header class="header-canvas-core">
      <!--input type="text" placeholder="Título do Canvas" class="canvas-input-title" value="xxx">-->
      <span *ngIf="projeto" class="canvas-input-title">{{projeto.nome}}</span>
    </header>
    <div class="canvas-core-container">
      <div class="canvas-core">

        <!-- Coluna 1-->
        <section class="canvas-coluna-mvp">
          <!-- Painel A -->
          <div class="canvas-board -half atividades">
            <header class="board-header">
              <h3 class="board-title pink">Personas & Plataformas</h3>
            </header>
            <ul class="canvas-post-mvp">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of personas">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('PERSONA')">+ Adicionar post-it</button>
          </div>
          <!-- Painel B -->
          <div class="canvas-board -half recursos "  >
            <header class="board-header">
              <h3 class="board-title green">Jornadas</h3>
            </header>
            <ul class="canvas-post-mvp" style="overflow-y: scroll;">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of jornadas">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('JORNADA')">+ Adicionar post-it</button>
          </div>
        </section>

        <!-- Coluna 2-->
        <section class="canvas-coluna-mvp">

          <!-- Painel a -->
          <div class="canvas-board -terco proposta">
            <header class="board-header">
              <h3 class="board-title yellow">Visão do MVP</h3>
            </header>
            <ul class="canvas-post-mvp-menor">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of visoes">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('VISAO_MVP')">+ Adicionar post-it</button>
          </div>

          <!-- Painel b -->
          <div class="canvas-board -terco proposta">
            <header class="board-header">
              <h3 class="board-title yellow">Funcionalidades</h3>
            </header>
            <ul class="canvas-post-mvp-menor">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of funcionalidades">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('FUNCIONALIDADE')">+ Adicionar post-it</button>
          </div>

          <!-- Painel b -->
          <div class="canvas-board -terco proposta">
            <header class="board-header">
              <h3 class="board-title yellow">Custo & Cronograma</h3>
            </header>
            <ul class="canvas-post-mvp-menor">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of custos">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('CUSTO_CRONOGRAMA')">+ Adicionar post-it</button>
          </div>

        </section>

        <!-- Coluna 3-->
        <section class="canvas-coluna-mvp">
          <div class="canvas-board -half relacao">
            <header class="board-header">
              <h3 class="board-title orange">Resultado Esperado</h3>
            </header>
            <ul class="canvas-post-mvp">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of resultados">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('RESULTADO')">+ Adicionar post-it</button>
          </div>
          <div class="canvas-board -half canais">
            <header class="board-header">
              <h3 class="board-title blue">Métricas para validar as hipóteses de negócio</h3>
            </header>
            <ul class="canvas-post-mvp">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of metricas">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('METRICA')">+ Adicionar post-it</button>
          </div>
        </section>







      </div>
    </div>
  </div>
</div>