<div *ngIf="listaCusto" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">2019</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Projeto</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngFor="let mes of listaCusto">
                  <td>{{mes.mes}}</td>
                  <td>{{mes.valorCampanha | number : '1.2-2' }}</td>
                  <td><a routerLink="/projetosValor/{{mes.id}}">Detalhe</a></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>