<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Projeto - Novo</h4>
          </div>
          <form #projetoForm="ngForm" class="content" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="nomeProjeto">Nome do Projeto</label>
              <input [(ngModel)]="model.nomeProjeto" #nomeProjeto="ngModel" type="text" class="form-control" name="nomeProjeto">
            </div>
            <div class="form-group">
              <label for="mercadoProjeto">Mercado</label>
              <input [(ngModel)]="model.mercadoProjeto" type="text" class="form-control" name="mercadoProjeto">
            </div>
            <div class="form-group">
              <label for="valorProjeto">Valor</label>
              <input [(ngModel)]="model.valorProjeto" type="text" class="form-control" name="valorProjeto">
            </div>
            <div class="form-group">
              <label for="dorProjeto">Dor</label>
              <input [(ngModel)]="model.dorProjeto" type="text" class="form-control" name="dorProjeto">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Enviar</button>
            <button type="cancel" class="btn btn-cancel btn-sm">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>