<div class="card">
  <div class="header">
    <h4 class="title">Tela App</h4>
    <button class="btn btn-primary btn-sm " (click)="openDialog(aplicacao)">Novo</button>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="40%">Nome</th>
          <th width="20%">Tipo</th>
          <th width="20%">Entidade</th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listaTelaApp">
          <tr>
            <td>
              {{item.nome}}
            </td>
            <td>
              {{item.tipo}}
            </td>
            <td>
              {{(item.entidade?item.entidade.nome:'')}}
            </td>
            <td align="right">
              <button class="btn btn-primary btn-sm " (click)="openDialog(aplicacao,item)">Alterar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>