<div class="card">
  <div class="header">
    <h4 class="title">Tela App</h4>
    <button class="btn btn-primary btn-sm " (click)="openDialog(aplicacao)">Novo</button>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="15%">Nome</th>
          <th width="15%">Menu</th>
          <th width="10%">Entidade</th>
          <th width="10%">EntidadePut</th>
          <th width="10%">Tela Edição</th>
          <th width="10%">Tipo</th>
          <th width="5%">html</th>
          <th width="5%">ts</th>
          <th width="5%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listaTelaApp">
          <tr>
            <td [ngClass]="getClasse(item)">
              {{item.nome}}
            </td>
            <td>
              {{item.nomeMenu}}
            </td>
            <td>
              <a *ngIf="item.entidade" routerLink="/entidadeResumo/{{item.entidade.id_entidade}}">
              {{(item.entidade?item.entidade.nome:'')}}
              </a>
            </td>
            <td>
              <a *ngIf="item.entidadePut" routerLink="/entidadeResumo/{{item.entidade.id_entidade}}">
              {{(item.entidadePut?item.entidadePut.nome:'')}}
              </a>
            </td>
            <td>
              
              {{(item.telaEdicao?item.telaEdicao.nome:'')}}

            </td>
            <td>
              {{item.tipo}}
            </td>
            <td>
              {{item.sobrescreveHtml}}
            </td>
            <td>
              {{item.sobrescreveTs}}
            </td>
            <td align="right">
              <button class="btn btn-primary btn-sm " (click)="openDialog(aplicacao,item)">Alterar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>