<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=1024,initial-scale=1,maximum-scale=1">

  <link rel="stylesheet" href="assets/css/canvas-digicom.css">
</head>

<body>
  <div class="canvas-container" id="canvas">
    <header class="header-canvas-core">
      <input type="text" placeholder="Título do Canvas" class="canvas-input-title" value="Olho no Preço - Eletrônicos">
    </header>
    <div class="canvas-core-container" >
      <div class="canvas-core" >
        <div class="canvas-column" >
          <div class="canvas-board parceiros" >
            <header class="board-header" >
              <h3 class="board-title red">Parceiros Chave</h3>
            </header>
            <ul class="canvas-posts" >
              <li class="canvas-postit yellow" >
                <p class="postit-name">Google</p>
                <button class="btn" >
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$0.$0.2">+ Adicionar post-it</button>
          </div>
        </div>
        <section class="canvas-column" data-reactid=".0.0.1.1.0.0.2.1.$1">
          <div class="canvas-board -half atividades" data-reactid=".0.0.1.1.0.0.2.1.$1.$0">
            <header class="board-header" data-reactid=".0.0.1.1.0.0.2.1.$1.$0.0">
              <h3 class="board-title pink" data-reactid=".0.0.1.1.0.0.2.1.$1.$0.0.0">Atividades Chave</h3>
            </header>
            <ul class="canvas-posts" data-reactid=".0.0.1.1.0.0.2.1.$1.$0.1">
              <li data-id="2332638" data-content="Desenvolvimento do Software" data-group-id="2" data-position="0" data-uuid="23362cfa-47b9-48fd-a3cf-f07943851865"
                data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$1.$0.1.$0">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$1.$0.1.$0.0">Desenvolvimento do Software</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$1.$0.1.$0.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$1.$0.1.$0.1.0"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$1.$0.2">+ Adicionar post-it</button>
          </div>
          <div class="canvas-board -half recursos" data-reactid=".0.0.1.1.0.0.2.1.$1.$1">
            <header class="board-header" data-reactid=".0.0.1.1.0.0.2.1.$1.$1.0">
              <h3 class="board-title green" data-reactid=".0.0.1.1.0.0.2.1.$1.$1.0.0">Recursos Chave</h3>
            </header>
            <ul class="canvas-posts" data-reactid=".0.0.1.1.0.0.2.1.$1.$1.1">
              <li data-id="2332639" data-content="Coletor de Preços" data-group-id="3" data-position="0" data-uuid="58647116-f1f0-42df-9c83-b27ce12e7948"
                data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$1.$1.1.$0">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$1.$1.1.$0.0">Coletor de Preços</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$1.$1.1.$0.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$1.$1.1.$0.1.0"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$1.$1.2">+ Adicionar post-it</button>
          </div>
        </section>
        <section class="canvas-column" data-reactid=".0.0.1.1.0.0.2.1.$2">
          <div class="canvas-board proposta" data-reactid=".0.0.1.1.0.0.2.1.$2.$0">
            <header class="board-header" data-reactid=".0.0.1.1.0.0.2.1.$2.$0.0">
              <h3 class="board-title yellow" data-reactid=".0.0.1.1.0.0.2.1.$2.$0.0.0">Proposta de Valor</h3>
            </header>
            <ul class="canvas-posts" data-reactid=".0.0.1.1.0.0.2.1.$2.$0.1">
              <li data-id="2236582" data-content="Aviso de produto de interesse quando o valor estiver mais baixo" data-group-id="4" data-position="0"
                data-uuid="b9bc1048-7d3f-4e59-b99d-e2553e43ae9f" data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$2.$0.1.$0">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$2.$0.1.$0.0">Aviso de produto de interesse quando o valor estiver mais baixo</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$2.$0.1.$0.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$2.$0.1.$0.1.0"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$2.$0.2">+ Adicionar post-it</button>
          </div>
        </section>
        <section class="canvas-column" data-reactid=".0.0.1.1.0.0.2.1.$3">
          <div class="canvas-board -half relacao" data-reactid=".0.0.1.1.0.0.2.1.$3.$0">
            <header class="board-header" data-reactid=".0.0.1.1.0.0.2.1.$3.$0.0">
              <h3 class="board-title orange" data-reactid=".0.0.1.1.0.0.2.1.$3.$0.0.0">Relação com o Cliente</h3>
            </header>
            <ul class="canvas-posts" data-reactid=".0.0.1.1.0.0.2.1.$3.$0.1">
              <li data-id="2332636" data-content="AdWords" data-group-id="5" data-position="0" data-uuid="1f8e4654-ac16-43f4-92a2-fa8e14a50300"
                data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$3.$0.1.$0">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$3.$0.1.$0.0">AdWords</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$3.$0.1.$0.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$3.$0.1.$0.1.0"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$3.$0.2">+ Adicionar post-it</button>
          </div>
          <div class="canvas-board -half canais" data-reactid=".0.0.1.1.0.0.2.1.$3.$1">
            <header class="board-header" data-reactid=".0.0.1.1.0.0.2.1.$3.$1.0">
              <h3 class="board-title blue" data-reactid=".0.0.1.1.0.0.2.1.$3.$1.0.0">Canais</h3>
            </header>
            <ul class="canvas-posts" data-reactid=".0.0.1.1.0.0.2.1.$3.$1.1">
              <li data-id="2236583" data-content="Google Play" data-group-id="6" data-position="0" data-uuid="8aeac944-d967-4719-9abe-ef1aaa55da95"
                data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$3.$1.1.$0">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$3.$1.1.$0.0">Google Play</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$3.$1.1.$0.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$3.$1.1.$0.1.0"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$3.$1.2">+ Adicionar post-it</button>
          </div>
        </section>
        <section class="canvas-column" data-reactid=".0.0.1.1.0.0.2.1.$4">
          <div class="canvas-board segmentos" data-reactid=".0.0.1.1.0.0.2.1.$4.$0">
            <header class="board-header" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.0">
              <h3 class="board-title bluegreen" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.0.0">Segmentos de Mercado</h3>
            </header>
            <ul class="canvas-posts" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1">
              <li data-id="2222171" data-content="Acompanha preços e entende que existe uma pequena diferença de preço importa" data-group-id="7"
                data-position="0" data-uuid="e09e2d2d-254d-45ae-bf21-a920547f7989" data-color="yellow" class="canvas-postit yellow"
                data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1.$0">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1.$0.0">Acompanha preços e entende que existe uma pequena diferença de preço importa
                </p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1.$0.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1.$0.1.0"></span>
                </button>
              </li>
              <li data-id="2222169" data-content="Quem tem paciência para comprar no melhor momento" data-group-id="7" data-position="0"
                data-uuid="a9286445-4d7e-4e78-b485-c89def4ad376" data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1.$1">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1.$1.0">Quem tem paciência para comprar no melhor momento</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1.$1.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.1.$1.1.0"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$4.$0.2">+ Adicionar post-it</button>
          </div>
        </section>
        <section class="canvas-column -half" data-reactid=".0.0.1.1.0.0.2.1.$5">
          <div class="canvas-board estrutura" data-reactid=".0.0.1.1.0.0.2.1.$5.$0">
            <header class="board-header" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.0">
              <h3 class="board-title purple" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.0.0">Estrutura de Custos</h3>
            </header>
            <ul class="canvas-posts" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1">
              <li data-id="2332644" data-content="Serviço Financeiro para as assinaturas" data-group-id="8" data-position="0" data-uuid="e8a77c63-4a24-4644-9178-2812c43b7a1b"
                data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$0">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$0.0">Serviço Financeiro para as assinaturas</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$0.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$0.1.0"></span>
                </button>
              </li>
              <li data-id="2332643" data-content="Hospedagens Internet" data-group-id="8" data-position="0" data-uuid="6f7f9b20-2b93-4fc5-9f9c-883d6378112a"
                data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$1">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$1.0">Hospedagens Internet</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$1.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$1.1.0"></span>
                </button>
              </li>
              <li data-id="2332642" data-content="Propaganda AdWords" data-group-id="8" data-position="0" data-uuid="308a1a45-8c97-4398-a41e-e560b0d4ce24"
                data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$2">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$2.0">Propaganda AdWords</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$2.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.1.$2.1.0"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$5.$0.2">+ Adicionar post-it</button>
          </div>
        </section>
        <section class="canvas-column -half" data-reactid=".0.0.1.1.0.0.2.1.$6">
          <div class="canvas-board fontes" data-reactid=".0.0.1.1.0.0.2.1.$6.$0">
            <header class="board-header" data-reactid=".0.0.1.1.0.0.2.1.$6.$0.0">
              <h3 class="board-title brown" data-reactid=".0.0.1.1.0.0.2.1.$6.$0.0.0">Fontes de Renda</h3>
            </header>
            <ul class="canvas-posts" data-reactid=".0.0.1.1.0.0.2.1.$6.$0.1">
              <li data-id="2332640" data-content="Assinaturas" data-group-id="9" data-position="0" data-uuid="94b78eaf-45d9-4952-97cc-52408fc6cb47"
                data-color="yellow" class="canvas-postit yellow" data-reactid=".0.0.1.1.0.0.2.1.$6.$0.1.$0">
                <p class="postit-name" data-reactid=".0.0.1.1.0.0.2.1.$6.$0.1.$0.0">Assinaturas</p>
                <button class="btn" data-reactid=".0.0.1.1.0.0.2.1.$6.$0.1.$0.1">
                  <span class="s s-pencil" data-reactid=".0.0.1.1.0.0.2.1.$6.$0.1.$0.1.0"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" data-reactid=".0.0.1.1.0.0.2.1.$6.$0.2">+ Adicionar post-it</button>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>