<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Campanhas</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="30%">Projeto</th>
                  <th width="10%">Código</th>
                  <th width="10%">Custo Total</th>
                  <th width="10%">Palavras</th>
                  <th width="10%">Anúncios</th>
                  <th width="10%">Fechadas</th>
                  <th width="10%">Abertas</th>
                  <th width="5%"></th>
                  <th width="5%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let projeto of projetos">
                  <td>{{projeto.nome}}</td>
                  <td>{{projeto.codigo}}</td>
                  <td>{{projeto.custoCampanha | number : '1.2-2'}}</td>
                  <td>{{projeto.quantidadePalavraChave}}</td>
                  <td>{{projeto.quantidadeAnuncio}}</td>
                  <td>{{projeto.quantidadeCampanha}}</td>
                  <td>{{projeto.quantidadeCampanhaAberta}}</td>
                  <td><a routerLink="/listaCampanhaConceitoAtivoPorProjeto/{{projeto.id}}">conceito</a></td>
                  <td><a routerLink="/listaCampanhaPorProjeto/{{projeto.id}}">geral</a></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
