.canvas-container {
    padding: 20px;
    background-color: #f8fafb;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: block;
}
.header-canvas-core {
    display: block;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.canvas-input-title {
    float: left;
    width: 100%;
    padding: 3px 10px;
    margin-bottom: 30px;
    font-size: 35px;
    font-size: 2.1875rem;
    font-weight: 100;
    color: #627383;
    border: 0;
    border-bottom: 1px solid #dee0e1;
    background-color: #f8fafb;
    outline: 0;
    line-height: normal;
    font: inherit;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.canvas-core-container{
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dee0e1;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.24);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: block; 
}


.canvas-column {
    width: 20%;
    height: 415px;
    float: left;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: block;

}

.canvas-board {
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #f8fafb;
    background-color: rgba(0,0,0,.035);
    background-position: top 10px right 7px;
    background-repeat: no-repeat;
    background-size: auto 23px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: block;
}

.board-header {
    padding: 14px 7px 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: block;
}

.board-title {
    padding-left: 6px;
    margin: 0;
    color: #627383;
    font-size: .80rem;
    font-weight: 400;
    border-left-width: 3px;
    border-left-style: solid;
}