<div class="main-content">

  <p *ngIf="!projeto">
    carregando
  </p>

  <div *ngIf="projeto" class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">{{projeto.nome}}</div>
          <div class="panel-body">
            <p></p>
          </div>
        
          <div class="row">
            <div class="col-md-6">
              Primeira Campanha: 10-10-1010
            </div>
            <div class="col-md-6">
              Última Campanha: 10-10-1010
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  


</div>