<div *ngIf="pagina" class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Campanhas</h4>
              <button mat-raised-button (click)="criaCampanha()">Nova</button>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th>Data Inicio</th>
                    <td>Data Final</td>
                    <td>Score</td>
                    <td>Impressões</td>
                    <td>Cliques</td>
                    <td>Custo</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let campanha of pagina.campanhaAds">
                    <td>{{campanha.nome}}</td>
                    <td>{{campanha.dataInicial | date: 'dd/MM/yyyy'}}</td>
                    <td>{{campanha.dataFinal | date: 'dd/MM/yyyy'}}</td>
                    <td>{{campanha.nome}}</td>
                    <td>{{campanha.quantidadeImpressao}}</td>
                    <td>{{campanha.quantidadeClique}}</td>
                    <td>{{campanha.orcamentoTotalExecutado}}</td>
                    <td>
                      <button class="btn btn-primary btn-sm " routerLink="detalheCampanha/{{campanha.id}}">Detalhe</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>