<link rel="stylesheet" href="assets/css/vendor.36bb0ebb.css">
<link rel="stylesheet" href="assets/css/main.b03f2ea9.css">
<link rel="stylesheet" href="assets/css/canvas-digicom2.css">

<div class="dashboard" style="padding-top: 0px;">
  <div class="canvas-container" id="canvas">
    <header class="header-canvas-core">
      <span *ngIf="projeto" class="canvas-input-title">{{projeto.nome}} - Dor/Ganho Canvas</span>
    </header>

    <div class="canvas-core-container">
      <div class="canvas-core">

        <!-- Coluna 1-->
        <section class="canvas-coluna-ganhodor">
          <!-- Painel A -->
          <div class="canvas-board atividades">
            <header class="board-header">
              <h3 class="board-title pink">Produtos & Servicos</h3>
            </header>
            <ul class="canvas-post-mvp-coluna">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of produtosServicos">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('PRODUTO_SERVICO')">+ Adicionar post-it</button>
          </div>

        </section>


        <!-- Coluna 2-->
        <section class="canvas-coluna-ganhodor">
          <!-- Painel A -->
          <div class="canvas-board -half atividades">
            <header class="board-header">
              <h3 class="board-title pink">Criadores de Ganho</h3>
            </header>
            <ul class="canvas-post-mvp">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of criaGanhos">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('CRIA_GANHO')">+ Adicionar post-it</button>
          </div>
          <!-- Painel B -->
          <div class="canvas-board -half recursos ">
            <header class="board-header">
              <h3 class="board-title green">Alivio de Dores</h3>
            </header>
            <ul class="canvas-post-mvp" style="overflow-y: scroll;">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of aliviaDores">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('ALIVIA_DOR')">+ Adicionar post-it</button>
          </div>
        </section>



        <!-- Coluna 3-->
        <section class="canvas-coluna-ganhodor">
          <!-- Painel A -->
          <div class="canvas-board -half atividades">
            <header class="board-header">
              <h3 class="board-title pink">Ganhos</h3>
            </header>
            <ul class="canvas-post-mvp">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of ganhos">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('GANHO')">+ Adicionar post-it</button>
          </div>
          <!-- Painel B -->
          <div class="canvas-board -half recursos ">
            <header class="board-header">
              <h3 class="board-title green">Dores</h3>
            </header>
            <ul class="canvas-post-mvp" style="overflow-y: scroll;">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of dores">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('DOR')">+ Adicionar post-it</button>
          </div>
        </section>

        <!-- Coluna 4-->
        <section class="canvas-coluna-ganhodor">
          <!-- Painel A -->
          <div class="canvas-board atividades">
            <header class="board-header">
              <h3 class="board-title pink">Tarefas</h3>
            </header>
            <ul class="canvas-post-mvp-coluna">
              <li class="canvas-postit yellow" *ngFor="let projetoCanvas of tarefas">
                <p class="postit-name">{{projetoCanvas.descricao}}</p>
                <button class="btn" (click)="editaItem(projetoCanvas)">
                  <span class="s s-pencil"></span>
                </button>
              </li>
            </ul>
            <button class="add-postit" (click)="openDialog('TAREFA')">+ Adicionar post-it</button>
          </div>

        </section>


      </div>
    </div>
  </div>
</div>