<div *ngIf="campanha" class="main-content">

    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-subtitle>{{campanha.nome}} - R$ {{campanha.orcamentoTotalExecutado | number : '1.2-2'}}
                </mat-card-subtitle>
                <mat-card-subtitle>ID: {{campanha.idAds}}</mat-card-subtitle>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-display-ideia-melhoria-origem [campanha]="campanha"></app-display-ideia-melhoria-origem>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <app-display-setup-campanha [campanha]="campanha"></app-display-setup-campanha>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-resultado-campanha-palavra-chave [campanha]="campanha"></app-resultado-campanha-palavra-chave>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-resultado-campanha-anuncio [campanha]="campanha"></app-resultado-campanha-anuncio>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <app-display-anuncio-aplicacao [campanha]="campanha"></app-display-anuncio-aplicacao>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <app-display-presenca-loja [campanha]="campanha"></app-display-presenca-loja>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <app-ideia-melhoria-campanha-origem [campanha]="campanha"></app-ideia-melhoria-campanha-origem>
        </div>
    </div>

</div>