<div *ngIf="campanha" class="main-content">

    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-subtitle>{{campanha.nome}}</mat-card-subtitle>
                <mat-card-subtitle>ID: {{campanha.idAds}}</mat-card-subtitle>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-resultado-campanha-palavra-chave [campanha]="campanha"></app-resultado-campanha-palavra-chave>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-resultado-campanha-anuncio [campanha]="campanha"></app-resultado-campanha-anuncio>
        </div>
    </div>
</div>