
<h2 mat-dialog-title>Escolha de componente para tela</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field>
      <mat-select placeholder="Componente" [(value)]="selecionado"> 
        <mat-option *ngFor="let item of listaComponente" [value]="item.id">
          {{item.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>