<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      valhip
    </a>
  </div>
  <ul class="nav responsive-nav">
    <li>
      <a routerLink="/projetos">
        <i class="fa fa-search"></i>
        <p>Projetos</p>
      </a>
    </li>
    <li>
      <a routerLink="/projetosValor">
        <i class="fa fa-search"></i>
        <p>Proposta de Valor</p>
      </a>
    </li>
    <li>
      <a routerLink="/projetosFaseValor">
        <i class="fa fa-search"></i>
        <p>Projeto Fase Valor</p>
      </a>
    </li>
    <li>
      <a routerLink="/projetosFaseAnuncio">
        <i class="fa fa-search"></i>
        <p>Projeto Fase Anúncio</p>
      </a>
    </li>
    <li>
      <a routerLink="/projetoAplicacao">
        <i class="fa fa-search"></i>
        <p>Aplicações</p>
      </a>
    </li>
    <li>
      <a routerLink="/palavraChaveRaiz">
        <i class="fa fa-search"></i>
        <p>Palavras Chaves Raiz</p>
      </a>
    </li>
    <li>
      <a routerLink="/palavraMelhores">
        <i class="fa fa-search"></i>
        <p>Melhores Palavras</p>
      </a>
    </li>

    <li>
      <a routerLink="/etapaProjeto">
        <i class="fa fa-search"></i>
        <p>Etapa Projeto</p>
      </a>
    </li>

    <li>
      <a routerLink="/respostaMercado">
        <i class="fa fa-search"></i>
        <p>Resposta do Mercado</p>
      </a>
    </li>

    <li>
      <a routerLink="/processoNegocio">
        <i class="fa fa-search"></i>
        <p>Processo Negocio</p>
      </a>
    </li>

    <li>
      <a routerLink="/tipoExperiencia">
        <i class="fa fa-search"></i>
        <p>Tipo de Experiência</p>
      </a>
    </li>


    <li>
      <a routerLink="/tipoComponenteWeb">
        <i class="fa fa-search"></i>
        <p>Tipo Componente Web</p>
      </a>
    </li>

    <li>
      <a routerLink="/propostaValor">
        <i class="fa fa-search"></i>
        <p>Proposta de Valor (antiga)</p>
      </a>
    </li>
  </ul>
</div>