<div *ngIf="versaoApp" class="card">
  <div class="header">
    <h4 class="title">VersaoApp: {{versaoApp.nome}}</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="100%">Itens de Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of versaoApp.valorVersaos">
          <td>{{item.itemValorApp.nome}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>