<div class="card">
  <div class="header">
    <h4 class="title">Ganho / Dor</h4>
  </div>

  <div class="content">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of listaItens" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.descricao}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list role="list" *ngFor="let palavra of item.palavraChaveAds" >
            <mat-list-item role="listitem">{{palavra.palavra}}</mat-list-item>
        </mat-list>
        <button mat-button (click)="novaPalavra(item)">Novo</button>
      </mat-expansion-panel>

    </mat-accordion>

  </div>
</div>