<table width="100%">
    <tr>
        <td width="20%" [ngStyle]="{'background-color' : paletaCor.cor1 }">
            cor 1
        </td>
        <td width="20%" [ngStyle]="{'background-color' : paletaCor.cor2 }">
            cor 2
        </td>
        <td width="20%" [ngStyle]="{'background-color' : paletaCor.cor3 }">
            cor 3
        </td>
        <td width="20%" [ngStyle]="{'background-color' : paletaCor.cor4 }">
            cor 4
        </td>
        <td width="20%" [ngStyle]="{'background-color' : paletaCor.cor5 }">
            cor 5
        </td>
    </tr>
</table>