<div class="card">
  <div class="header">
    <h4 class="title">Entidades</h4>
    <button class="btn btn-primary btn-sm " (click)="openDialog(aplicacao)">Novo</button>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="50%">Nome</th>
          <th width="15%">Chave</th>
          <th width="15%">Identificador</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listaEntidade">
          <tr>
            <td>
              <a routerLink="/entidadeResumo/{{item.id_entidade}}">{{item.nome}}</a>
            </td>
            <td>
              {{(item.atributoChave?item.atributoChave.nome:'-')}}
            </td>
            <td>
              {{(item.atributoIdentificador?item.atributoIdentificador.nome:'-')}}
            </td>
            <td align="right">
              <button class="btn btn-primary btn-sm " (click)="alteraEntidade(item)">Alterar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>