<div class="home-page">

  <div class="banner">
    <div class="container">
      <h3 class="logo-font">{{ itemValor.descricao }}</h3>
      <p>{{ itemValor.projeto.nome }}</p>
    </div>
  </div>

  <div class="container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="signo.titulo" name="titulo" placeholder="Titulo" />
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="signo.descricaoSimples" name="descricaoSimples" placeholder="Descrição" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="signo.bullet1" name="bullet1" placeholder="Bullet 1" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="signo.bullet2" name="bullet2" placeholder="Bullet 2" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="signo.bullet3" name="bullet3" placeholder="Bullet 3" />
      </mat-form-field>

    </form>
  </div>


</div>