<div *ngIf="itemValor" class="home-page">

  <div class="banner">
    <div class="container">
      <h3 class="logo-font">{{ itemValor.descricao }}</h3>
      <p>{{ itemValor.projeto.nome }}</p>
    </div>
  </div>

  <div class="container">
    <form class="example-form" (ngSubmit)="onSubmit()">

      <mat-dialog-content>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="signo.titulo" name="titulo" placeholder="Titulo" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="signo.descricaoSimples" name="descricaoSimples" placeholder="Descrição" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="signo.bullet1" name="bullet1" placeholder="Bullet 1" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="signo.bullet2" name="bullet2" placeholder="Bullet 2" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="signo.bullet3" name="bullet3" placeholder="Bullet 3" />
        </mat-form-field>

        <button type="button" md-button (click)="imgFileInput.click()">Add a photo</button>
        <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>
      </mat-dialog-content>

   

      <mat-dialog-actions>
        <button mat-button>Enviar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
      </mat-dialog-actions>

    </form>
  </div>


</div>