<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="lista" class="card">
          <div class="header">
            <h4 class="title">Melhores Palavras Chave Total - {{lista.length}} itens</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="35%">Palavra</th>
                  <th width="15%">Cpc</th>
                  <th width="15%">Volume Mensal</th>
                  <th width="15%">Índice</th>
                  <th width="20%">Raiz</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lista">
                  <td>{{item.palavraChaveGoogleId}}</td>
                  <td>{{item.mediaCpc}}</td>
                  <td>{{item.volumePesquisa}}</td>
                  <td>{{item.indiceCompeticao}}</td>
                  <td>
                    <a routerLink="/palavraChaveRaizCompleta/{{item.palavraChaveRaiz.id}}">
                    {{item.palavraChaveRaiz.palavra}}</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
