<div *ngIf="listaPagina" class="card">
  <div class="header">
    <h4 class="title">Páginas Instalação</h4>
    <button class="btn btn-primary btn-sm " (click)="openDialog()">Novo</button>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Páginas Instalação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaPagina">
          <td>
            <app-display-pagina-validacao-web [item]="item"></app-display-pagina-validacao-web>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
