<h2 mat-dialog-title>Edição Conceito de Produto</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput maxlength="100" #titulo [(ngModel)]="item.titulo" name="titulo" placeholder="Título" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea  matInput rows="3" #descricao [(ngModel)]="item.descricao" name="descricao" placeholder="Descrição" ></textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>