<h2 mat-dialog-title>Edita Campanha</h2>

<form *ngIf="listaPagina && listaPaginaInstalacao && listaSetup && listaIdeiaMelhoria" class="example-full-width" (ngSubmit)="onSubmit()">


  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <textarea matInput #objetivo [(ngModel)]="item.objetivo" name="Objetivo" placeholder="Objetivo"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Idéia Melhoria" #ideiaMelhoriaId [(ngModel)]="item.ideiaMelhoriaId"
      name="ideiaMelhoriaId">
      <mat-option *ngFor="let ideia of listaIdeiaMelhoria" [value]="ideia.id">
        {{ ideia.descricaoBreve }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Página Validação" #paginaValidacaoWebId [(ngModel)]="item.paginaValidacaoWebId"
      name="paginaValidacaoWebId">
      <mat-option *ngFor="let pagina of listaPagina" [value]="pagina.id">
        {{ pagina.mensagemPrincipal }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Página Instalação" #paginaInstalacaoAppId [(ngModel)]="item.paginaInstalacaoAppId"
      name="paginaInstalacaoAppId">
      <mat-option *ngFor="let pagina of listaPaginaInstalacao" [value]="pagina.id">
        {{ pagina.mensagemPrincipal }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Anúncio Aplicação" #anuncioAplicativoId [(ngModel)]="item.anuncioAplicativoId"
      name="anuncioAplicativoId">
      <mat-option *ngFor="let anuncio of listaAnuncioApp" [value]="anuncio.id">
        {{ anuncio.titulo1 }} / {{ anuncio.titulo2 }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Versão de Aplicativo" #versaoAppId [(ngModel)]="item.versaoAppId" name="versaoAppId">
      <mat-option *ngFor="let versao of listaVersaoApp" [value]="versao.id">
        {{ versao.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Setup" #setupCampanhaId [(ngModel)]="item.setupCampanhaId" name="setupCampanhaId">
      <mat-option *ngFor="let setup of listaSetup" [value]="setup.id">
        {{ setup.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>  
  
  
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Presença Loja" #presencaLojaId [(ngModel)]="item.presencaLojaId" name="presencaLojaId">
      <mat-option *ngFor="let presenca of listaPresencaLoja" [value]="presenca.id">
        {{ presenca.descricaoBreve }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-select placeholder="Campanha Base" [(ngModel)]="campanhaSelId" (ngModelChange)="onChange2()" name="campanhaSel">
      <mat-option *ngFor="let campanha of listaCampanha" [value]="campanha.id" >
        {{ campanha.nome }} ({{campanha.dataInicial | date: 'dd/MM/yyyy' : 'UTC'}})  R$ {{campanha.taxaInstalacaoUsuario | number : '1.2-2' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>