<div *ngIf="entidade.atributoEntidades" class="card">
  <div class="header">
    <h4 class="title">Relacionamentos</h4>
    <button class="btn btn-primary btn-sm " (click)="novoRel()">Novo</button>
  </div>

  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Relação</th>
          <th>Entidade</th>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of entidade.rel1">
          <tr>
            <td>
              {{getNumeros(item)}}
            </td>
            <td>
              {{getEntidadeOposta(item)}}
            </td>
            <td>
              {{getNome(item)}}
            </td>
            
            <td align="right">
              <button class="btn btn-primary btn-sm " (click)="alteraRel(item)">Alterar</button>
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>
  </div>

</div>
