<div *ngIf="entidade.atributoEntidades" class="card">
  <div class="header">
    <h4 class="title">Relacionamentos</h4>
    <button class="btn btn-primary btn-sm " (click)="novoAtributo()">Novo</button>
  </div>

  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let atributo of entidade.atributoEntidades">
          <tr>
            <td>
              {{atributo.nome}}
            </td>
            <td>
              {{atributo.tipo}}
            </td>
            <td>
              {{atributo.label_tela}}
            </td>
            <td>
              {{atributo.ordenacao_tela}}
            </td>
            <td align="right">
              <button class="btn btn-primary btn-sm " (click)="alteraAtributo(atributo)">Alterar</button>
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>
  </div>

</div>
