<mat-card *ngIf="item">
  <mat-card-title>{{item.mensagemPrincipal}}</mat-card-title>
  <mat-card-subtitle>{{item.mensagemSecundaria}}</mat-card-subtitle>
  <mat-card-subtitle>{{item.botaoAcao}}</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="item.permiteEdicao==0" (click)="openDialog(item)">Alterar</button>
    <button mat-raised-button color="primary" routerLink="/editaPaginaValidacaoWeb/{{item.id}}">Detalhe</button>
    <button mat-raised-button color="primary" (click)="visitar()">Visitar</button>
    <button mat-raised-button color="primary" (click)="mobile()">Mobile</button>
  </mat-card-actions>
  <mat-card-subtitle>
    Campanhas: {{item.quantidadeCampanha}}, 
    Visualizações: {{item.totalVisualizacao}},
    Interesse: {{item.totalInteresse}} 
    Conversao: {{item.taxaConversao | percent:'1.2-2' }}
  </mat-card-subtitle>
</mat-card>