<h2 mat-dialog-title>Itens de Validação do Projeto</h2>
<mat-dialog-content>
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li draggable *ngFor="let item of listaItem" [dragData]="item" class="list-group-item">{{item.titulo}}</li>
        </ul>
    </div>
    
    <div class="col-sm-3">
    <div class="panel panel-default" droppable (onDrop)="onItemDrop($event)">
        <div class="panel-heading">Drop Items here</div>
            <div class="panel-body">
              <li *ngFor="let item of droppedItems" class="list-group-item">{{item.titulo}}</li>
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button>Enviar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>