<div *ngIf="listaCampanha && projeto" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">{{projeto.nome}} ({{projeto.codigo}}) - Campanhas - Geral</h4>
            <button mat-raised-button (click)="openDialog()">Nova</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped" style="font-size: 12px !important">

              <thead>
                <tr>
                  <th width="10%">Titulo</th>
                  <!--<th width="10%">Cpc Grupo</th>-->
                  <th width="10%">Setup</th>
                  <th width="10%">Data Inicio</th>
                  <th width="10%">Impressões</th>
                  <th width="10%">Cliques</th>
                  <th width="10%">Ctr (%)</th>
                  <th width="10%">Custo</th>
                  <th width="10%">Cpc</th>
                  <th width="10%">Conv.</th>
                  <th width="10%">Tx. Conv. (%)</th>
                  <th width="10%">Custo. Conv.</th>
                  <th width="10%">Custo. Instal.(R$)</th>
                  <th width="5%"></th>
                  <th width="5%"></th> 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let campanha of listaCampanha">
                  <td>{{campanha.nome}}</td>
                  <!--<td>{{campanha.setupCampanhaMaxCpcGrupoAnuncio | number : '1.2-2'}}</td>-->
                  <td>{{campanha.setupCampanhaNome}}</td>
                  <td>{{campanha.dataInicial | date: 'dd/MM/yyyy' : 'UTC'}}</td>
                  <td>{{campanha.quantidadeImpressao}}</td>
                  <td>{{campanha.quantidadeClique}}</td>
                  <td>{{campanha.ctr | number : '1.2-2' }}</td>
                  <td>{{campanha.orcamentoTotalExecutado | number : '1.2-2'}} ({{campanha.setupCustoTotal | number : '1.2-2'}})</td>
                  <td>{{campanha.cpcMedio | number : '1.2-2' }}</td>
                  <td>{{campanha.conversao | number : '1.0-0' }}({{campanha.setupTotalInstalacao | number : '1.0-0' }})</td>
                  <td>{{campanha.taxaConversao | number : '1.2-2' }}</td>
                  <td>{{campanha.custoConversao | number : '1.2-2' }}({{campanha.setupCustoInstalacao | number : '1.2-2' }})</td>
                  <td>{{campanha.taxaInstalacaoUsuario | number : '1.2-2' }}</td>
                  <td>
                    <button color="primary"  matTooltip="Configurações" mat-icon-button aria-label="Configurações" routerLink="/detalheCampanhaParaFechamento/{{campanha.id}}">
                      <mat-icon>settings</mat-icon>
                    </button>
                  </td>
                  <td>
                    <button color="primary" mat-icon-button aria-label="Resultados" routerLink="/detalheCampanha/{{campanha.id}}">
                      <mat-icon matTooltip="Resultados" >visibility</mat-icon>
                    </button>
                    <button width="30px" *ngIf="campanha.permiteEdicao==1" style="font-size: 10px !important" mat-raised-button color="primary" (click)="openDialog(campanha)">Editar</button>
                  </td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>