<div class="card"  *ngIf="funil">
  <div class="header">
    <h4 class="title">{{funil.nome}} - Etapas</h4>
    <td><button mat-raised-button color="primary" (click)="openDialog()">Novo</button></td>

  </div>

  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="30%">Nome</th>
          <th width="600%"></th>
          <th width="5%"></th>
          <th width="5%"></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of funil.etapaClientes">
          <td>{{item.nome}}</td>
          <td>{{item.descricao}}</td>
          <td>
            <button class="btn btn-primary btn-sm " (click)="subir(item)">Subir</button>
          </td>
          <td>
            <button class="btn btn-primary btn-sm " (click)="openDialog(item)">Alterar</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
