<div *ngIf="projeto" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Projeto: {{projeto.nome}}</h4>
          </div>
          <div class="header">
            <h4 class="title">Conceito: {{conceito.titulo}}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="90%">Valores</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of listaValor">
                  <tr>
                    <td>{{item.titulo}}</td>
                    <td align="right">
                      <button class="btn btn-primary btn-sm "  (click)="editaAnuncio(item)">Adicionar</button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <mat-list>
                        <ng-container *ngFor="let ads of item.anuncioAds">
                          <mat-card>
                            <mat-card-title>
                              {{ads.titulo1}} - {{ads.titulo2}}
                            </mat-card-title>
                            <mat-card-subtitle>
                              {{ads.descricao1}}
                            </mat-card-subtitle>
                            <mat-card-actions>
                                <button (click)="editaAnuncio(item,ads)" [disabled]="ads.permiteEdicao==0" mat-raised-button color="primary">Alterar</button>
                            </mat-card-actions>
                          </mat-card>
                        </ng-container>
                      </mat-list>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>