<div *ngIf="listaCampanha" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Campanhas - Geral</h4>
            <button mat-raised-button (click)="atualizaMetrica()">Atualiza</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped" style="font-size: 12px !important">

              <thead>
                <tr>
                  <th width="10%">Titulo</th>
                  <ng-container *ngFor="let etapa of listaEtapaFunil">
                    <th width="5%">{{etapa.nome}}</th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let campanha of listaCampanha">
                  <tr *ngIf="campanha.valorEtapaFunilCampanhas.length>0">
                    <td>{{campanha.nome}}</td>
                    <ng-container *ngFor="let valor of campanha.valorEtapaFunilCampanhas">
                      <td>
                        {{valor.valor}} 
                        <span class="custo" *ngIf="valor.custo && valor.custo > 0.01"> R$ {{valor.custo | number: '1.2-2'}} </span>
                        <span class="taxa" *ngIf="valor.taxa && valor.taxa > 0.01"> {{valor.taxa | number: '1.1-1'}}% </span>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>