
<div *ngIf="versaoApp" class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Nome: {{versaoApp.nome}}</h4>
              <h4 class="title">Objetivo: {{versaoApp.objetivo}}</h4>
              <h4 class="title">Código: {{versaoApp.codigo}}</h4>
              <h4 class="title">Pacote: {{versaoApp.pacote}}</h4>
            </div>

          </div>
        </div>
  
      </div>
    </div>
  </div>
