<div *ngIf="versaoApp" class="main-content">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Nome: {{versaoApp.nome}} ({{versaoApp.id}})</h4>
            <h4 class="title">Objetivo: {{versaoApp.objetivo}}</h4>
            <h4 class="title">Código: {{versaoApp.codigo}}</h4>
            <h4 class="title">Pacote: {{versaoApp.pacote}}</h4>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        <section class="dgc-painel">

          <header class="dgc-painel-header">
            <span>TELAS</span>
            <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="escolheTela()">
              novo
            </button>
          </header>

          <div class="dgc-painel-principal">
            <div class="dgc-card" width="300px" *ngFor="let item of versaoApp.versaoTelaApps">
              <div class="dgc-card-imagem">
                <img *ngIf="item.imagem1" src="{{item.imagem1}}" />
              </div>
              <div class="dgc-card-header">
                <span>{{item.telaApp.nome}}</span>
              </div>
              <div class="dgc-card-detalhe">
                <div class="dgc-card-metrica-linha">
                  <div class="dgc-card-metrica-celula">
                    <p class="dgc-card-metrica-celula-label">total</p>
                    <p class="dgc-card-metrica-celula-valor">{{item.versaoTelaAppMetricas[0].quantidadeTotal}}</p>
                  </div>
                  <div class="dgc-card-metrica-celula-separacao"></div>
                  <div class="dgc-card-metrica-celula">
                    <p class="dgc-card-metrica-celula-label">usuários</p>
                    <p class="dgc-card-metrica-celula-valor">{{item.versaoTelaAppMetricas[0].quantidadeUsuario}}</p>
                  </div>
                  <div class="dgc-card-metrica-celula-separacao"></div>
                  <div class="dgc-card-metrica-celula">
                    <p class="dgc-card-metrica-celula-label">sessões</p>
                    <p class="dgc-card-metrica-celula-valor">{{item.versaoTelaAppMetricas[0].quantidadeSessao}}</p>
                  </div>
                </div>
              </div>
              <div class="dgc-card-comandos">
                <button class="btn btn-primary btn-sm dgc-botao-comando" (click)="editaImagem(item)">imagem</button>
                <button class="btn btn-primary btn-sm dgc-botao-comando" (click)="editaHtml(item)">html</button>
                <button class="btn btn-primary btn-sm dgc-botao-comando" (click)="editaTs(item)">ts</button>
                <button class="btn btn-primary btn-sm dgc-botao-comando" (click)="editaCss(item)">css</button>
              </div>
            </div>
          </div>

        </section>

      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        <div *ngIf="versaoApp" class="card">
          <div class="header">
            <h4 class="title">Itens de Valor</h4>
            <button class="btn btn-primary btn-sm" (click)="openDialog(versaoApp)">Novo</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="100%">Nome</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of versaoApp.valorVersaos">
                  <td>{{item.itemValorApp.nome}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>