<div *ngIf="versaoApp" class="main-content">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Nome: {{versaoApp.nome}}</h4>
            <h4 class="title">Objetivo: {{versaoApp.objetivo}}</h4>
            <h4 class="title">Código: {{versaoApp.codigo}}</h4>
            <h4 class="title">Pacote: {{versaoApp.pacote}}</h4>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div *ngIf="versaoApp" class="card">
          <div class="header">
            <h4 class="title">Itens de Valor</h4>
            <button class="btn btn-primary btn-sm"  (click)="openDialog(versaoApp)" >Novo</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="100%">Nome</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of versaoApp.valorVersaos">
                  <td>{{item.itemValorApp.nome}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div>
          <h3 class="title">Telas</h3>
          <button class="btn btn-primary btn-sm" (click)="openDialog(versaoApp)">Novo</button>
        </div>
        <div class="card" *ngFor="let item of versaoApp.versaoTelaApps">
          <h4 class="title">{{item.telaApp.nome}}</h4>
          <div class="content">
            <button class="btn btn-primary btn-sm" (click)="openDialog(versaoApp)">html</button>
            <button class="btn btn-primary btn-sm" (click)="openDialog(versaoApp)">ts</button>
            <button class="btn btn-primary btn-sm" (click)="openDialog(versaoApp)">css</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>