<h2 *ngIf="data" mat-dialog-title>Atributo - {{palavra}}</h2>

<form class="example-form" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <mat-form-field class="example-full-width" >
      <input type="text" placeholder="Projeto"  #nome [(ngModel)]="projeto.nome" name="nome" aria-label="Number" matInput 
          [formControl]="myControl" [matAutocomplete]="auto" (ngModelChange)="setProjeto($event)">
      <mat-autocomplete #auto="matAutocomplete"  [displayWith]="mostraNome">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.nome}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>