<div class="main-content">
  <div class="container-fluid" *ngIf="item">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">TelaApp: {{item.nome}}</h4>
          </div>
          <div class="content">
            <li>
              <ul *ngFor="let versao of item.versaoApps"> 
                {{versao.codigo}} 
              </ul>
            </li>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
