/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.example-container {
    display: flex;
    flex-direction: column;
 }
  
 .example-container > * {
    width: 100%;
 }

 .canvas-board.-terco {
    height: 33%;
 }

 .painel-direita {
     width: 500px;
 }

 .custo {
   color: #46813f;
 }

 .taxa {
    color: #f95201;
 }



 
/*   Digicom Estilo   */
/*****************************************************************************/
/* quadro geral */
body {
  margin: 0px;
}
 .dgc-geral {
  /* width: 100%; */
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  background-color: aqua;
}
/* quadro do menu - precisa ficar fixo e se ajustar em largura*/
.dgc-menu {
  height: 45px;
  width: 100%;
  display: flex;
  position: static;
  background: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: #e1e9ef;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0
}
.dgc-menu-logo {
  width: 200px;
 line-height: 45px; /* igual hegith do dgc-menu */
  padding-left: 50px;
}
/* quadro de dados - precisa fazer scroll por baixo do menu */
.dgc-principal {
  height: auto;
  min-height: calc(100vh - 64px);
  padding-top: 64px; /* quando não tem menu superior fica sem sentido */
  padding-bottom: 0;
  background-color: #f3f2ef;
  margin-left: 0;
  margin-right: 0;
}
.dgc-principal a {
  text-decoration: none;
}
.dgc-principal a:link {
  color: #cd150c
}
.dgc-principal a:hover {
  color: #f03018
}
.dgc-principal a:visited {
  color: #cd150c;
}
 
/*************************************************************************/
 .dgc-painel {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 15px;
  margin: 16px;
  font-weight: 100;


}
.dgc-painel-header {
   border-bottom: solid 1px #CCC;
   margin-bottom: 18px;
   display: flex;  /* precisa para o dgc-direita funcionar */
    line-height: 1.2;
   letter-spacing: 1px;
   color: #000000;
   text-transform: uppercase;
   font-size: 160%;
   font-weight: 700;
   margin-right: 8px;
   margin-left: 8px;
}
.dgc-painel-principal {
  /* para colocar os cards em ordem de acordo com a largura */
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.dgc-card {
  margin: 8px;
  border: solid 1px #ccc;
  padding: 8px;
  border-radius: 15px;
 
}
.dgc-card-header {
  line-height: 1.2;
  letter-spacing: 1px;
  color: #000000;
  display: flex; /* precisa para o dgc-direita funcionar */
  /*text-transform: uppercase;  quando o nome é um objeto ou classe ? */
  margin-bottom: 8px;
  font-weight: 400;
}
.dgc-card-detalhe {
  margin-top: 12px;
  margin-bottom: 12px;
}
.dgc-card-detalhe table {
  width: 100%;
}
.dgc-card-detalhe tr {
  border-bottom: solid 1px #ccc;
}
.dgc-card-detalhe td {
  font-weight: 400;
  padding-right: 12px;
}
.dgc-card-comandos {
  margin-top: 20px;
  text-align: end;
}
.dgc-card-comandos button {
   min-width: 60px;
   margin: 4px;
}
.dgc-card-imagem {
  margin-top: 0px;
  margin-bottom: 32px;
}
.dgc-card-imagem img {
  border: solid 1px #ccc;
  width: 240px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.dgc-direita {
  margin-left: auto;
}

.dgc-metrica-celula-label {
  font-size: 12px;
  text-align: right;
  border: none; // não adianta nada
}
.dgc-metrica-celula-valor {
  font-size: 12px;
  border: none; // não adianta nada
}

 
 









