<h2 *ngIf="plano" mat-dialog-title>{{plano.processoNegocio.nome}}</h2>

<form *ngIf="tempoOk && listaProjeto" class="example-full-width" (ngSubmit)="onSubmit()">


  <mat-form-field class="example-full-width">
    <mat-select placeholder="Projeto" #projetoMySqlId [(ngModel)]="tempo.projetoMySqlId" name="projetoMySqlId">
      <mat-option *ngFor="let projeto of listaProjeto" [value]="projeto.id">
        {{ projeto.nome }} ({{projeto.codigo}})
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput [ngModel]="tempo.horaInicio | date : 'dd/MM/yyy HH:mm:ss'" name="horaInicio" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput [ngModel]="tempo.horaTermino | date : 'dd/MM/yyy HH:mm:ss'" name="horaTermino" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button>Enviar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>

</form>