<h2 *ngIf="item" mat-dialog-title>Processo - {{item.nome}}</h2>

<form *ngIf="listaEtapa" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <div *ngFor="let item of listaEtapa; let i = index;">
      <mat-checkbox  [checked]="getCheck(item)"  (change)="onChange($event, i, item)">
        {{item.nome}}
      </mat-checkbox>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>
