<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Métricas - {{nomeMes}}}/{{diaBase.getFullYear()}}</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="30%">Dia</th>
                  <td width="20%">Nova Instalação</td>
                  <td width="20%">Tot Instalado</td>
                  <td width="20%">Abriu App</td>
                  <td width="20%">Periodo Gratuito</td>
                  <td width="20%">Fluxo Assinatura</td>
                  <td width="20%">Tot Assinante</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dia of projeto.dsUsuarios">
                  <td>{{dia.dia | date: 'dd/MM' }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
