<div class="card" >

  <div class="header">
    <h4 class="title">Idéia de Melhoria - Origem</h4>
  </div>

  <div class="content table-responsive table-full-width" *ngIf="ideiaOrigem">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td style="text-align: center;font-weight: 500;">{{ideiaOrigem.descricaoBreve}}</td>
        </tr>
        <tr>
          <td class="celulaTextoImportante">{{ideiaOrigem.descricaoCompleta}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
