<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Campanhas Instalação</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="30%">Projeto</th>
                  <th width="10%"></th>
                  <th width="10%"></th>
                  <th width="10%"></th>
                  <th width="10%"></th>
                  <th width="10%"></th>
                  <th width="10%"></th>
                  <th width="10%"></th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let projeto of projetos">
                  <td>{{projeto.nome}}</td>
                  <td><a routerLink="/listaItemValorProjeto/{{projeto.id}}">item valor</a></td>
                  <td><a routerLink="/presencaLojaProjeto/{{projeto.id}}">loja</a></td>
                  <td><a routerLink="/itemValidacaoProjeto/{{projeto.id}}">item validação</a></td>
                  <td><a routerLink="/paginaValidacaoGerenciador/{{projeto.id}}">página validação</a></td>
                  <td><a routerLink="/paginaInstalacaoGerenciador/{{projeto.id}}">página instalação</a></td>
                  <td><a routerLink="/anuncioAppGerenciador/{{projeto.id}}">anúncio app</a></td>
                  <td><a routerLink="/versaoAppLista/{{projeto.id}}">versão app</a></td>
                  <td><a routerLink="/listaCampanhaPorProjeto/{{projeto.id}}">campanhas</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

