<div class="main-content">
  <div class="container-fluid" *ngIf="lista">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Oportunidades - Cosmetic Center ({{lista.length}})</h4>
            <span>https://vps-40d69db1.vps.ovh.ca:21189/api/Cosmetic_OportunidadeDia<span style="color:red">s</span>/listaApp
            <br>(URL_COSMETIC em Cosmetic_OportunidadeDiaApi.ListaApp)</span>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Produto</th>
                  <th>Data</th>
                  <th>Loja</th>
                  <th>Para</th>
                  <th>De</th>
                  <th>Redução</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let item of lista; let i = index; index as i">
                  <td>{{i+1}}</td>
                  <td><img src="{{item.imagemProduto}}" height="40" width="40"/></td>
                  <td><a href="{{item.urlProduto}}" target="_blank">{{item.nomeProduto}}</a></td>
                  <td>{{item.dataUltimaPrecoAnterior | date : 'dd/MM/yyyy' : 'UTC'}}</td>
                  <td>{{item.nomeLojaVirtual}}</td>
                  <td>{{item.precoVendaAtual | number : '1.2-2'}}</td>
                  <td>{{item.precoVendaAnterior | number : '1.2-2'}}</td>
                  <td>{{item.percentualAjusteVenda | number : '1.1-1'}}%</td>
                  <td><button class="btn btn-primary btn-sm " (click)="excluiItem(item)">Excluir</button></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
