<div *ngIf="listaTelaWeb" class="card">
  <div class="header">
    <h4 class="title">Projeto: {{projeto.nome}}</h4>
    <h4 class="title">Conceito: {{conceito.titulo}}</h4>
  </div>

  <div class="content table-responsive table-full-width">
    <table *ngIf="listaTelaApp" class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="90%">Telas App</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listaTelaApp">
          <tr>
            <td>{{item.nome}}</td>
            <td><button mat-raised-button color="primary" [disabled]="item.permiteEdicao==0" (click)="openTelaApp(item)">Incluir</button></td>
          </tr>
          <tr *ngFor="let validador of item.itemValidacaoPaginas">
            <td colspan="2">
              <mat-card>
                <mat-card-title>{{validador.titulo}}</mat-card-title>
                <mat-card-subtitle>{{validador.bullet1}}</mat-card-subtitle>
                <mat-card-subtitle>{{validador.bullet2}}</mat-card-subtitle>
                <mat-card-subtitle>{{validador.bullet3}}</mat-card-subtitle>
                <mat-card-actions>
                  <button mat-stroked-button color="primary" [disabled]="validador.permiteEdicao==0" (click)="openTelaApp(item, validador)">Alterar</button>
                </mat-card-actions>
              </mat-card>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="content table-responsive table-full-width">
    <table *ngIf="listaTelaWeb" class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="90%">Telas Web</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listaTelaWeb">
          <tr>
            <td>{{item.nome}} ({{item.itemValidacaoPaginas.length}})</td>
            <td><button mat-raised-button color="primary" (click)="openTelaWeb(item)">Incluir</button></td>
          </tr>
          <tr *ngFor="let validador of item.itemValidacaoPaginas">
            <td colspan="2">
              <mat-card>
                <mat-card-title>{{validador.titulo}}</mat-card-title>
                <mat-card-subtitle>{{validador.bullet1}}</mat-card-subtitle>
                <mat-card-subtitle>{{validador.bullet2}}</mat-card-subtitle>
                <mat-card-subtitle>{{validador.bullet3}}</mat-card-subtitle>
                <mat-card-actions>
                  <button mat-stroked-button color="primary" (click)="openTelaWeb(item, validador)">Alterar</button>
                </mat-card-actions>
              </mat-card>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>